*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(98, 91, 91);
    color: white;
    padding: 20px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}



#header #nav ul{
    display: flex;
   justify-content: space-around;
   color: rgb(179, 157, 157);
   
}

#header #nav li{
    list-style: none;
    padding: 20px 20px;
    color:rgb(179, 157, 157);
}

#header #nav li a{
    text-decoration: none;
    color: aquamarine;
}

#header #nav li a:hover{
  color: white;
}